#designs {
	margin-top: 20px;

	.design-row {
		margin-bottom: 20px;
	}

	.text {
		margin: 0px 0 10px 0;
	}

	.item {
		display: inline-block;
		margin: 0 10px 0px 0;

		img {
			height: 250px;
		}

		a {
			
		}
	}
}