
.post-meta {
	.tags {
		display: block;
	}
}

.tags {
	margin: 10px 0 10px 0;
}

.post-title {
	color: $base-color;
}

.post-content, .content {
	margin-bottom: $spacing-unit;

	p {
		@include relative-font-size(1);
		line-height: $base-line-height;
		font-family: $base-font-family;
	}

	h2 {
		@include relative-font-size(1.5);
		color: darken($base-color, 20%);

		@include media-query($on-laptop) {
			@include relative-font-size(1.75);
		}

		font-weight: bold;
	}

	h3 {
		@include relative-font-size(1.625);

		@include media-query($on-laptop) {
			@include relative-font-size(1.375);
		}
	}

	h4 {
		@include relative-font-size(1.25);

		@include media-query($on-laptop) {
			@include relative-font-size(1.125);
		}
	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-link {
	@include relative-font-size(1.7);
}


.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
	@include relative-font-size(2);
}

.post-list-heading {
	@include relative-font-size(1.75);
}

.post-list {
	margin-left: 0;
	list-style: none;
	padding: 0;

	> li {
		margin-bottom: $spacing-unit;
	}
}

pre,
code {
	@include relative-font-size(0.9375);
	border: 1px solid $grey-color-light;
	border-radius: 3px;
	background-color: #eef;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
}

code {
	padding: 1px 5px;
}

pre {
	padding: 8px 12px;
	overflow-x: auto;

	> code {
		border: 0;
		padding-right: 0;
		padding-left: 0;
	}
}

.side {
	padding-left: 30px;

	h3 {
		@include relative-font-size(1.2);
	}

	ul, ol {
		padding: 0;
		list-style-position: inside;

		li {
			margin-bottom: 10px;
		}
	}
}