@include media-query($medium-device) {
	#left-content {
		width: 300px;
		margin: auto;

		#main-navbar {
			margin: auto;
			float: none;
			width: 200px;
		}

		#portrait {
			float: none;
			margin: 15px auto 10px auto;
		}

		.jarnoluu {
			a {
				text-align: center;
			}
		}

		#info {
			text-align: center !important;
		}
	}

	#content {
		order: 2;
	}

	#index {
		order: 1;
		margin-bottom: 20px;
	}

	#left {
		position: static !important;
		min-height: auto !important;
		padding-bottom: 20px;
	}

	#middle {
		.page-content {
			padding-top: 10px;
		}
	}
}


@include media-query(1100px) {
	.jarnoluu {
		strong {
			@include relative-font-size-important(1.5);
		}
	}

	#portrait {
		width: 120px !important;
		height: 120px !important;
		background-position: -15px -7px !important;
	}

	#side {
		#contact {
			td {
				&, a {
					@include relative-font-size-important(1);
				}

				i {
					@include relative-font-size-important(1.2);
				}
			}
		}
	}

	#main-navbar {
		ul {
			li {
				a {
					@include relative-font-size-important(0.8);
				}
			}
		}
	}
}

@include media-query(900px) {
	.jarnoluu {
		strong {
			@include relative-font-size-important(1.2);
		}
	}

	#info {
		@include relative-font-size-important(1);
	}

	#side {
		#contact {
			td {
				&, a {
					@include relative-font-size-important(0.9);
				}

				i {
					@include relative-font-size-important(1);
				}
			}
		}
	}
}