@charset "utf-8";

$base-color: #5dacdd;

$base-font-family: 'Open Sans', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$base-font-size: 17px !default;
$base-font-weight: 400 !default;
$small-font-size: $base-font-size * 0.875 !default;
$base-line-height: 1.7 !default;

$spacing-unit: 30px !default;

$text-color: #111 !default;
$background-color: #fdfdfd !default;
$brand-color: #2a7ae2 !default;

$grey-color: #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark: darken($grey-color, 25%) !default;

$table-text-align: left !default;

// Width of the content area
$content-width: 100% !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;

$medium-device: 768px;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
	@media screen and (max-width: $device) {
		@content;
	}
}

@mixin relative-font-size($ratio) {
	font-size: $base-font-size * $ratio;
}

@mixin relative-font-size-important($ratio) {
	font-size: $base-font-size * $ratio !important;
}

// Import partials.
@import 'syntax-highlighting', 'posts', 'designs', 'projects', 'responsive';

video {
	width: 100%;
	max-width: 640px;
}

main {
	display: block;
}

body,
.container-fluid {
	width: 100%;
}

h1 {
	margin-bottom: 10px;
	font-family: 'Crete Round';
	color: darken($base-color, 25%);
	border-bottom: 2px solid darken($base-color, 25%);
	padding-bottom: 5px;
}

h3 {
	margin-top: 10px;
}

.wrapper {
	padding: 0 20px 0 20px;
}

.jarnoluu {
	border: 0;

	a {
		@include relative-font-size(2);
		font-family: 'Source Sans Pro', 'Times New Roman', Times, serif;
		text-align: right;
		display: block;

		&:hover {
			text-decoration: none;
		}
	}

	strong {
		color: $base-color;

		&:first-child span {
			padding: 6px;
			padding-right: 0;
		}

		&:last-child span {
			padding: 6px 0;
		}

		span {
			background: #267174;
			color: white;
		}
	}
}

#left {
	background: #56646d url(/assets/images/bg2.jpg) right top no-repeat;
	position: fixed;
	min-height: 2000px;
	border-top: 5px solid #526b6f;

	#left-content {
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		#main-navbar {
			padding: 0;
			margin: 0px 0 20px 0;

			ul {
				list-style-type: none;
				padding: 0;
				margin: 5px 0 0 0;

				li {
					display: inline-block;
					margin-top: 10px;

					a {
						@include relative-font-size(1);
						background: $base-color;
						margin-right: 5px;
						color: lighten($base-color, 40%);
						text-decoration: none;
						padding: 5px 10px;
						text-transform: lowercase;

						span {
							font-size: 8pt;
						}
					}

					&.active a {
						font-weight: bold;
						color: white;
						margin-top: 0;
						padding: 10px;
						background: darken($base-color, 20%);
					}
				}
			}
		}

		#portrait {
			width: 150px;
			height: 150px;
			background: white;
			border-radius: 50%;
			background: url(/assets/images/me.png);
			margin-bottom: 20px;
		}

		#side {
			#contact {
				width: 100%;
				border: 0;
				margin-top: 20px;

				td {
					text-align: center;
					padding: 2px 0;
					border: 0;

					.dummy {
						display: none;
					}

					&,
					a {
						@include relative-font-size(1.2);
						color: darken($base-color, 10%);
						letter-spacing: -0.5px;
						font-family: 'Source Sans Pro';
					}

					&:first-child {
						text-align: right;
						padding-right: 5px;
					}

					i {
						@include relative-font-size(1.5);
						position: relative;
						top: 2px;
					}
				}
			}

			#info {
				@include relative-font-size(1.1);
				font-family: 'Source Sans Pro', 'Times New Roman', Times, serif;
				font-style: italic;
				margin: 10px 10px 10px 0;
				text-align: right;
				max-width: 500px;
				float: right;
				color: black;

				p {
					line-height: 1.3;
				}
			}
		}
	}
}

#on-error {
	@include relative-font-size(0.9);
	font-family: 'MS Sans Serif', 'Lucida Console', monospace;
	padding: 3px;
	margin: 10px 0;
	color: blue;
	text-align: right;
	float: right;
	background: yellow;
}

#index {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			margin-bottom: 10px;

			h3 {
				@include relative-font-size(1);
				margin: 0;

				a {
					@include relative-font-size(1);
				}
			}
		}
	}
}
