---
layout: default
title: Blog
---

<div class="home container">
	<div class="row">
		<div class="col-md-9" id="content">
			{{ content }}

			{%- if site.posts.size > 0 -%}
				<ul class="post-list">
					{%- for post in site.posts -%}
					<li>
						<h3>
							<a class="post-link" href="{{ post.url | relative_url }}">
								{{ post.title | escape }}
							</a>
						</h3>

						<span class="post-meta">
							{{ post.date | date: site.date_format }}

							<span class="tags">
								Tag{% if post.tags.size > 1 %}s{% endif %}: {{ post.tags | sort | join: ', '  }}
							</span>
						</span>


						<div class="post-content">
							{{ post.excerpt }}

							<a href="{{ post.url | relative_url }}">
								read more &raquo;
							</a>
						</div>
					</li>
					{%- endfor -%}
				</ul>
			{%- endif -%}
		</div>
		<div class="col-md-3" id="index">
			{%- if site.posts.size > 0 -%}
			<ul class="post-list">
				{%- for post in site.posts -%}
					<li>
						<span class="post-meta">
							{{ post.date | date: site.date_format }}
						</span>
						<h3>
							<a class="post-link" href="{{ post.url | relative_url }}">
								{{ post.title | escape }}
							</a>
						<h3>
					</li>
				{%- endfor -%}
				</ul>
			{%- endif -%}
		</div>
	</div>
</div>
